<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         cacheResultFile="./build/cache/phpunit.result.cache"
         colors="true"
         testdox="true"
         verbose="true">

    <testsuites>
        <testsuite name="unit-tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <clover outputFile="./build/coverage/clover.xml"/>
            <html outputDirectory="./build/coverage/coverage-html"/>
            <cobertura outputFile="./build/coverage/cobertura.xml"/>
            <crap4j outputFile="./build/coverage/crap4j.xml"/>
            <xml outputDirectory="./build/coverage/coverage-xml.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="./build/junit.xml"/>
    </logging>

</phpunit>
